<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>

    <script>
        document.addEventListener('DOMContentLoaded',function() {
           document.querySelector('#room-id').focus();
           document.querySelector('#room-id').onkeyup=function (event) {
               if(event.keyCode===13){
                   document.querySelector('#submit-id').onclick();
               }
           };
           document.querySelector('#submit-id').onclick=function () {
              let room_name=document.querySelector('#room-id').value;
              window.location.pathname=`/chat/${room_name}/`;
           };
        });
    </script>
</head>
<body>
    <h1>Which chat room would you like to enter?</h1>
    <input type="text" placeholder="Enter Chat Room" id='room-id' size="100"><br><br>
    <input type="button" value='Submit' id='submit-id'>
</body>
</html>